.md-cta.layout1.mg-bg {  
  .banner.single {
    padding-block: 70px;
    @media(max-width: 575px) {
    padding-block: 50px;
    }
  } 
  .f-col {
    max-width: 900px;
  }    
  .site-title {
    h2 {
      font-size: clamp(28px, 5vw, 48px) !important;        
      line-height: 1.15;
      text-transform: uppercase;
      text-wrap: balance;
      span {
        font-size: 1em !important;
      }
    }
  }
  .site-subtitle {
    opacity: .85;
  } 
}