// HERO SECTIONS - BANNER AND CTA

.md-cta.layout1.mg-bg, .md-hero.layout2.mg-bg {  
  .banner.single {
    min-height: 50vh !important; 
    height: max-content !important;  
    padding-block: 80px;
    @media(max-width: 575px) {
      min-height: max-content !important; 
      padding-block: 60px;
    }
  } 
  .f-col {
    max-width: 900px;
  }    
  .site-title {
    h1, h2 {
      line-height: 1.15;
      text-transform: uppercase;
      text-wrap: balance;
      span {
        font-size: 1em !important;
      }
    }
    h1 {
      font-size: clamp(32px, 5vw, 48px) !important;        
    }
    h2 {
      font-size: clamp(28px, 5vw, 44px) !important;        
    }
  }
  .site-subtitle {
    opacity: .85;
  } 
}

.md-hero.layout2.mg-bg {   
  .banner-button-v2 {      
    gap: 7px !important;
  }
}

.md-header.transparent ~ .md-hero.layout2.mg-bg {
  .banner.single {
    padding-block: 160px 80px;
    @media(max-width: 575px) {
      padding-block: 140px 60px;
    }
  }
}