:root {
  @media(min-width: 1640px) {
    --module-width: 1440px;
  }
  //--g-btn-background-hover: hsl(212, 93%, 45%);
  --primary: rgb(33, 133, 247);
  --primary-hover: hsl(212, 93%, 45%);
  --bg-dark-blue: rgb(0,27,51);
}