.agent-detail {

  .md-agent-banner {
    & > div {
      margin-bottom: 0 !important;
    }
  }

  .md-agent-house.template4 {
    padding-block: 60px !important;
  } 

  form {
    .submit-content {
      .submit {
        color: #111 !important;
      } 
    }      
  } 

}