@import 'variables';
@import 'icons';
@import 'utilities';
@import 'hero';
@import 'reviews';

// HEADER
header {
  .head-menu {
    @media(min-width: 601px) {
      justify-content: center !important;
    }
    @media(max-width: 601px) {
      display: flex !important;
      flex-direction: column;
    } 
    .download-closely {
      @media(max-width: 601px) {
        order: 1;
      }
    }   
  }
}

// FORM
#contact {
  scroll-margin-top: 120px;
  @media(max-width: 575px) {
    scroll-margin-top: 90px;
  } 
}

.md-form.layout3 {
  .site-title {
    max-width: 800px;
    margin-inline: auto;
    text-align: center !important;
  }
  form {
    max-width: 800px;
    margin-inline: auto;
  }
  .input-content {
    display: flex;
    flex-direction: column;
    margin-inline: 0;
  }
  .basic-info {
    width: 100% !important;
    margin-inline: 0;  
  }
  .message {
    width: 100% !important;
    margin-inline: 0;
    textarea {     
      min-height: 100px;
    }
  }  
  .submit-content {
    display: flex;
    justify-content: center;           
  }  
  .submit {
    color: #fff !important;         
  }      
}

// FOOTER
.md-footer {
  .footer-container {
    display: flex;
    flex-direction: column;
    .bottom-content {
      order: 0;
      .agent-name {
        display: none;
      }
      .phone-email {
        row-gap: 20px !important;
        flex-direction: column !important;
      }
      .detail-phone, .detail-email {
        &:before {
          display: none;
        }
        a {          
          transition: all .25s ease-out;
          span {          
            position: relative;
            padding-left: 42px;
            &:before {
              content: '';
              position: absolute;          
              top: 50%;
              transform: translateY(-50%);
              left: 0; 
              $size: 32px;
              width: $size;
              height: $size;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
          &:hover {
            color: var(--primary);
          }
        }
      }
      .detail-phone {
        a {
          span {            
            &:before {
              background-image: $phone;               
            }
          }
        } 
      }
      .detail-email {
        a {
          span {            
            &:before {
              background-image: $email;                        
            }
          }
        } 
      }       
      .footer-submenu {
        @media(min-width: 992px) {
          display: block !important;
        }
      }     
    }
    .top-content {
      order: 1;
      background-color: #111111;      
      .declaimer {
        .site-p {          
          color: rgba(255,255,255,.5) !important;
        }
      }
    }
  }
}

// BUTTONS
.btn-item  {
  transition: all .25s ease-out !important;
  width: max-content !important;
  min-width: 200px !important;
  font-size: 15px !important;
}