.md-hero ~ .md-custom-code {
  background-image: linear-gradient(rgba(#000, .8)), url('https://cdn.lofty.com/image/fs/844765368895177/website/113526/cmsbuild/20251121_5b51b1b54b4c46fc.jpeg') !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;   
}

#selling-steps {
  $padding-timeline: 6.5%;

  .section-content {
    padding: 80px 0 100px;
    @media (max-width: 575px) {
      padding: 60px 0 80px;
    }
  }

  .title-wrapper {
    position: relative;
    .title {
      color: #fff !important;
    }
    .subtitle {
      color: #fff !important;
    }
  }
  
  .content-wrapper {
    position: relative;
    margin: 0;
    padding: 32px 0;
    list-style: none;
    @media(max-width: 767px) {
      padding-left: 41px;
    }
    @media(max-width: 575px) {
      padding-left: 34px;
    }
    &:before {
      content: '';
      height: 100%;
      top: 0;
      left: 50%;
      background-color: #fff;
      width: 1px;
      position: absolute;
      @media(max-width: 767px) {
        left: 15px;  
      } 
      @media(max-width: 575px) {
        left: 8px;  
      } 
    }
    .item {
      @media(min-width: 768px) {
        display: flex;
      }
      margin: 0;
      position: relative;
      padding-left: 0;

      &:before {
        content: '';
        $size: 18px;
        width: $size;
        height: $size;
        background-color: #fff;
        position: absolute;
        top: calc(#{$size} * .45);
        right: calc(50% - (#{$size}/2));
        border-radius: 50%;
        @media(max-width: 767px) {
          right: calc(100% + 25px - (#{$size}/2));
        } 
      } 

      .cell {
        @media(min-width: 768px) {
          width: 50%;
          &:nth-of-type(2) {
            border-top: 1px solid rgba(255, 255, 255, .2);
            margin-top: 17px;
          }
        }
      }

      &:nth-child(odd) {
        .cell {            
          &:nth-child(1) {
            @media(min-width: 768px) {
              text-align: right;
              padding-right: $padding-timeline;
            }
          }
          &:nth-child(2) {
            @media(min-width: 768px) {
              padding-left: $padding-timeline;
            }
          }
        }
      }

      &:nth-child(even) {
        @media(min-width: 768px) {
          //text-align: right;
          flex-direction: row-reverse;
        }
        .cell {            
          &:nth-child(1) {
            @media(min-width: 768px) {
              text-align: left;
              padding-left: $padding-timeline;
            }
          }
          &:nth-child(2) {
            @media(min-width: 768px) {
              padding-right: $padding-timeline;
            }
          }
        }
      }

      & + .item {
        margin-top: 61px;
      }        
              
    }

    .cell-step {
      color: #fff;      
      font-size: 24px;
      //font-weight: 700 !important;
      line-height: 1;
      text-transform: uppercase;
      padding-top: 5px;
      display: inline-block;
      margin: 0;               
      @media(max-width: 767px) {
        margin-bottom: 20px;
        font-size: 21px;
        padding-top: 6px;
      } 
    }   
    
    .cell-title {
      color: rgba(#fff, .9);
      font-family: 'Montserrat', sans-serif;
      font-size: calc(20px + .3vw);
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: .8em;
      @media(min-width: 768px) {
        margin-top: 40px;
      }
    }
  
    .cell-text {
      color: #fff !important;
      font-size: clamp(15px, 2vw, 18px);
      line-height: 1.7;
      text-wrap: pretty;        
      margin-bottom: 1em;
      &:last-of-type {
        margin-bottom: 0 !important;
      }
      h4 {
        font-size: 17px !important;
        text-transform: uppercase;
        margin-block: 30px 10px;
        font-weight: 700 !important;
      }
      ul {
        margin-top: .5em;
        & ~ p {
          margin-top: 15px;
        }
      }
      .tip {
        font-style: italic;
        color: hsl(0, 0%, 70%);
        margin-top: 1em;
        a {
          color: var(--primary);
          transition: all .25s ease-out;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
} 