@import 'home-value';

#home-value-calculator {
  scroll-margin-top: 96px;
}

.md-cta.layout5 {
  padding-block: 70px !important;
  @media(max-width: 575px) {
    padding-block: 55px !important;
  }
  .site-title {
    margin-top: 0 !important;
  }  
  h2 {
    font-size: clamp(28px, 4vw, 40px) !important;        
    line-height: 1.1 !important;
    text-transform: uppercase;
    text-wrap: balance;
    margin-bottom: .3em;
    span {
      font-size: 1em !important;
    }
  }
  p {
    line-height: .7 !important;
    span {
      font-size: calc(14px + .25vw) !important;
    }
  }
}
